<ion-header>
  <ion-toolbar>
    <ion-title>
      Carta Selecionada
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div *ngIf="cartaSelecionada as carta">
  <ion-card *ngIf="carta.value !== null ">
    <ion-card-header>
      <ion-card-title>
        <h1>
          <b>
            {{carta.value | valorPipe}} de {{carta.suit | naipePipe}}
          </b>
        </h1>
        <hr>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="display: flex; justify-content: center;">
        <img src="{{carta.image}}" alt="carta baralho" class="carta-classe" [appCorNaipe]="carta.suit">
      </div>
    </ion-card-content>
  </ion-card>
</div>

</ion-content>

