<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <p> Cartas restantes <strong> {{cartasRestantes}} </strong> </p>
  <ion-item>
    <ion-label> Quantidade </ion-label>    
    <ion-select 
      [(ngModel)]="quantidade"
      interface="popover" placeholder="1 a 5">
      <ion-select-option [value]="1"> 1 carta </ion-select-option>
      <ion-select-option [value]="2"> 2 cartas </ion-select-option>
      <ion-select-option [value]="3"> 3 cartas </ion-select-option>
      <ion-select-option [value]="4"> 4 cartas </ion-select-option>
      <ion-select-option [value]="5"> 5 cartas </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button (click)="comprarCartas()">
     Comprar Carta 
  </ion-button>
  <ion-button (click)="novoBaralho()">
     Novo Baralho
  </ion-button>

  <div *ngIf="cartas != undefined && cartas.length > 0">
    <div *ngFor="let carta of cartas">
      <img src="{{carta.image}}" alt="carta baralho">
    </div>
  </div>
</ion-content>
