<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mesa 52
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="atualizarCarta($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <div>
    <div class="text-center" style="text-align: center;">
      <header>
        <h1> Mesa 52 </h1>
        <p> APP para comprar cartas de um baralho</p>
        <p> Cartas restantes <strong> {{cartasRestantes}} </strong> </p>
      </header>
    </div>
    <div>

      <ion-item>
        <ion-label> Quantidade </ion-label>
        <ion-select [(ngModel)]="quantidade" interface="popover" placeholder="1 a 5">
          <ion-select-option [value]="1"> 1 carta </ion-select-option>
          <ion-select-option [value]="2"> 2 cartas </ion-select-option>
          <ion-select-option [value]="3"> 3 cartas </ion-select-option>
          <ion-select-option [value]="4"> 4 cartas </ion-select-option>
          <ion-select-option [value]="5"> 5 cartas </ion-select-option>
        </ion-select>
      </ion-item>
      <div class="d-flex">
        <ion-button *ngIf="cartasRestantes! > 0" (click)="comprarCartas()">
          Comprar Carta
        </ion-button>
        <ion-button (click)="novoBaralho()">
          Novo Baralho
        </ion-button>
      </div>

    </div>
  </div>

  <div *ngIf="cartas != undefined && cartas.length > 0">
    <div *ngFor="let carta of cartas">
      <app-card-component [carta]="carta" (selecionar)="selecionarCarta(carta)"></app-card-component>
    </div>
  </div>
  <div *ngIf="cartasRestantes == 0">
    <p> O baralho acabou, compre um novo baralho</p>
  </div>


</ion-content>
